.message {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.message>img {
    width: 400px;
    height: auto;
}

.message-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
    width: 700px;
    height: auto;
}

.message-text>h3 {
    font-size: 40px;
}

.message-text>p {
    margin-left: 30px;
}


@media (max-width: 1200px) and (orientation: portrait) {
    .message {
        display: none;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .message {
        margin: 50px;
    }

    .message>img {
        width: 300px;
        height: auto;
    }

    .message-text {
        margin-left: 30px;
        width: 400px;
        height: auto;
    }

    .message-text>h3 {
        font-size: 35px;
    }

    .message-text>p {
        margin-left: 20px;
    }
}

@media (max-width: 1100px) and (orientation: landscape) {
    .message {
        margin: 30px;
    }

    .message>img {
        width: 250px;
        height: auto;
    }

    .message-text {
        margin-left: 10px;
        width: 350px;
        height: auto;
    }

    .message-text>h3 {
        font-size: 22px;
        margin-left: 10px;
    }

    .message-text>p {
        margin-left: 8px;
    }
}

@media (max-width: 700px) and (orientation: landscape) {
    .message {
        margin: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .message>img {
        width: 250px;
        height: auto;
    }

    .message-text {
        margin-left: 10px;
        margin-top: 20px;
        width: 300px;
        height: auto;
    }

    .message-text>h3 {
        font-size: 15px;
        margin-left: 10px;
        margin-top: 0;
    }

    .message-text>p {
        margin-left: 2px;
        font-size: 15px;
        margin-left: 10px;
    }
}